.home-page-content-wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-page-content {
    display: flex;
    flex-direction: column;

    .content-section {
      width: 100%;
      padding: 1rem;
      background-color: white;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

.background-map {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}
